/**
 * \\Author: Thibault Napoléon "Imothep"
 * \\Company: ISEN Ouest
 * \\Email: thibault.napoleon@isen-ouest.yncrea.fr
 * \\Created Date: 16-Oct-2024 - 12:33:51
 * \\Last Modified: 22-Dec-2025 - 17:57:14
 */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1140px;
  }
}

@media (max-width: 600px) {
  .menu1 {
    width: 90%;
  }
  .menu2 {
    width: 10%;
  }
  .vertical-rule {
    display: none;
  }
}

body {
  background-color: light-dark(#ffffff, #121212);
  color: light-dark(#000000, #ffffff);
  font-family: 'Inconsolata', monospace;
  font-size: 1rem;
  font-weight: 500;
  --color1: light-dark(#215325, #417945);
  --color2: light-dark(#57915c, #668765);
  --rule-size: 1.5px;
}

.color2 {
  color: var(--color2);
}

#about-me {
  text-align: justify;
}

.navbar-nav .nav-link {
  color: var(--color1);
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: var(--color2);
  text-decoration: none;
}

.navbar-collapse {
  text-align: right;
}

.color-scheme {
  font-size: 1rem;
  cursor: pointer;
}

header {
  padding-top: 0.5rem;
  background-color: light-dark(#ffffff, #121212);
}

footer {
  padding-bottom: 0.5rem;
}

section {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

section:before {
  height: 5.6rem;
  margin-top: -5.6rem;
  display: block;
  content: '';
}

h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: var(--rule-size) solid var(--color2);
  border-bottom: var(--rule-size) solid var(--color2);
}

h2 {
  border-left: 6px solid var(--color2);
  font-size: 1.35rem;
  font-weight: 600;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  padding-left: 0.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
}

a {
  color: var(--color2);
  text-decoration: none;
}

a:hover {
  color: var(--color1);
  text-decoration: underline;
}

.ai, .bi {
  color: var(--color1);
}

.ai:hover, .bi:hover {
  color: var(--color2);
}

.img-thumbnail {
  background-color: light-dark(#ffffff, #121212);
  border-color: light-dark(#bbbbbb, #333333);
}

.social-media .ai, .social-media .bi {
  font-size: 2.5rem;
  margin-left: 1.5rem;
}

.zoom {
  font-size: 1.2rem;
}

.vertical-rule {
  border-left: var(--rule-size) solid var(--color1);
  height:4rem;
}

.horizontal-rule {
  border-top: var(--rule-size) solid var(--color1);
}

.teaching {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
